---
import Layout from "../../layouts/Layout.astro";
import IsItChristmas from "../../components/IsItChristmas.svelte";

let title = "Is It Christmas?";
---

<Layout title={title}>
  <main>
    <p>Is it christmas?</p>
    <div class="center-big">
      <IsItChristmas />
    </div>
  </main>
</Layout>

<style lang="scss">
  main {
    max-width: var(--max-width);
    margin-inline: auto;
    padding-inline: 1rem;
  }

  .center-big {
    display: flex;
    place-content: center;
  }
</style>
