---
import Layout from "../../layouts/Layout.astro";

let title = "Svelte Testing"
---

<Layout title={title}>
  <main></main>
</Layout>

<style>
  main {
    max-width: var(--max-width);
    margin-inline: auto;
    padding: 1rem;
  }
</style>
