---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page">
  <main>
    <h1>It's me, FireIsGood</h1>
    <p>Computer Science major</p>
    <p>Big code enjoyer</p>
  </main>
</Layout>

<style lang="scss">
  main {
    max-width: var(--max-width);
    margin-inline: auto;
    padding: 1rem;
  }
</style>
