---
import Layout from "../layouts/Layout.astro";

let title = "Contact";
---

<Layout title={title}>
  <main>
    <h1>Contact me</h1>
    <p>
      via Discord: <strong
        ><span class="cool-text">FireIsGood#0733</span>
      </strong>
    </p>
    <p>
      via Email: <a href="mailto:fireisadequate@gmail.com"
        >fireisadequate@gmail.com</a
      >
    </p>
    <p>or don't</p>
  </main>
</Layout>

<style lang="scss">
  main {
    max-width: var(--max-width);
    margin-inline: auto;
    padding: 1rem;
  }

  a {
    color: var(--color-link);
  }

  .cool-text {
    background: linear-gradient(0deg, #ad7dcd, #78cefc);
    background-size: 400% 200%;
    background-position-y: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: pulse 6s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    60% {
      background-position-y: 100%;
    }
  }
</style>
