---
import Layout from "../layouts/Layout.astro";
import Counter from "../components/counter.svelte";
import OperatorSelector from "../components/OperatorSelector.svelte";

let title = "Main Page"
---

<Layout title={title}>
  <main>
    <h1>Wow</h1>
    <p>Now this is a page</p>
    <Counter client:load />
    <OperatorSelector client:idle />
  </main>
</Layout>

<style lang="scss">
  main {
    max-width: var(--max-width);
    margin-inline: auto;
    padding: 1rem;
  }
</style>
