---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Page">
  <main>
    <h1>Wow</h1>
    <p>Now this is a page</p>
  </main>
</Layout>

<style lang="scss">
  main {
    max-width: var(--max-width);
    margin-inline: auto;
    padding: 1rem;
  }
</style>
